* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    height: 2735px;
    width: 1440px;
    margin-left: -60px;
    top: 78px;
    border-radius: 0px;
    position: absolute;
    overflow-x: hidden;   
  }
  
  .container {
    height: 2735px;
width: 1440px;
left: 0px;
top: 78px;
border-radius: 0px;
background: #FFD7021A;

  }
  header {
    height: 10px;
    color: #fff;
    background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .logo {
    height: 50px;
    width: 50px;
    left: 20px;
    top: -60px;
    border-radius: 0px;
    position: absolute;
  }
  
  nav ul {
   
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0 12rem;
  }
  
  nav li {
    line-height: 2px;
    margin-top: -37px;
  }
  
  nav a {
    color: #4D7E3E;
    
    text-decoration: none;
  }
 .yellow {
    height: 30px;
width: 104px;
margin-left: -50px;
margin-top: -50px;
border-radius: 10px;
padding: 10px;
background: #FFD702;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
  }
 
  .yellowp {
    font-family: Monserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #1E1E1E;
flex: none;
order: 0;
flex-grow: 0;

height: 17px;
  } 
  
  #hero {
    background-color: #4D7E3E;
    width: 1200px;
    height: 510px;
    top: 70px;
    left: 104px;
    justify-content: center;
    backdrop-filter: blur(2px);
    position: absolute;
  }
  
  #hero h1 {
    height: 100px;
    width: 477px;
    left: 77px;
    top: 136px;
    border-radius: nullpx;
    font-family: Krona One;
font-size: 40px;
font-weight: 400;
line-height: 50px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
 position: absolute;   
  }
  
  #hero p {
    height: 120px;
width: 593px;
left: 77px;
top: 270px;
border-radius: nullpx;
font-family: Montserrat;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.25px;
text-align: left;
color: #FFFFFF;
position: absolute;
  }

#hero img {
    height: 350px;
width: 400px;
left: 750px;
top: 80px;
border-radius: 0px;
position: absolute;
  }
  
  .btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    text-decoration: none;
    position: absolute;
    width: 150px;
    height: 44px;
    left: 77px;
    top: 424px;
    color: #000000;
    background: #FFD702;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
  }

  
  
.fun h1 {
  height: 80px;
width: 403px;
left: 835px;
top: 905px;
border-radius: nullpx;
position: absolute;
font-family: Krona One;
font-size: 32px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0em;
text-align: center;
color: #FFD702;
}

.fun p {
  height: 159px;
width: 487px;
left: 804px;
top: 1003px;
border-radius: nullpx;
position: absolute;
font-family: Montserrat;
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
color: #000000;
text-transform: capitalize;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.fun img {
  height: 532px;
width: 548px;
left: 97px;
top: 722px;
border-radius: 0px;
position: relative;
}

.discussion h1 {
  position: absolute;
width: 403px;
height: 90px;
left: 209px;
top: 1600px;

font-family: 'Krona One';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 45px;
text-align: center;
font-feature-settings: 'salt' on, 'ss01' on;

color: #4D7E3E;

}

.discussion p {
  position: absolute;
width: 487px;
height: 73px;
left: 180px;
top: 1700px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
text-align: center;
text-transform: capitalize;

color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.discussion img {
  position: relative;
  height: 532px;
  width: 548px;
left: 800px;
top: 900px;
}

.col1 {
 
width: 570px;
height: 283px;
left: 104px;
top: 1244px;

background: #4D7E3E;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
  position: relative;
}

.col1 h1 {
  height: 17px;
width: 158px;
left: 100px;
top: 53px;
border-radius: nullpx;
font-family: Montserrat;
font-size: 14px;
font-weight: 600;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
position: relative;
}

.col1 p {
  height: 34px;
width: 233px;
left: 41px;
top: 90px;
border-radius: nullpx;
font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;
position: relative;
}

.col1 img {
  height: 214px;
width: 211px;
left: 170px;
top: -20px;
border-radius: 0px;
position: relative;
}

.col1 .btn1 {
  height: 45px;
width: 169px;
left: 84px;
top: -35px;
border-radius: 10px;
background: #FFD702;
color: #000000;
position: relative;
padding: 10px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
text-decoration: none;
}

.col2 {
 
  width: 570px;
  height: 283px;
  left: 720px;
  top: 960px;
  
  background: #FFD702;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
    position: relative;
}

.col2 h1 {
  height: 17px;
width: 158px;
left: 100px;
top: 53px;
border-radius: nullpx;
font-family: Montserrat;
font-size: 14px;
font-weight: 600;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
color: #000000;
position: relative;
}

.col2 p {
  height: 34px;
width: 233px;
left: 41px;
top: 90px;
border-radius: nullpx;
font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
text-align: center;
color: #000000;
position: relative;
}

.col2 img {
  height: 214px;
width: 211px;
left: 170px;
top: -20px;
border-radius: 0px;
position: relative;
}

.col2 .btn2 {
  height: 45px;
width: 169px;
left: 84px;
top: -35px;
border-radius: 10px;
background: #4D7E3E;
color: #FFFFFF;
position: relative;
padding: 10px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
text-decoration: none;
}

footer {
  background: #1E252F;
  height: 368px;
width: 1440px;
left: 0px;
top: 0px;
border-radius: 0px;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0;
position: relative;
}

.logo2 {
  height: 78px;
width: 222px;
left: 150px;
top: 90px;
border-radius: 0px;
position: relative;
}

.footerp {
  height: 24px;
width: 328px;
left: 150px;
top: 220px;
border-radius: nullpx;
position: relative;
font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #EAECF0;
align-self: stretch;
}

.footer-col1 {
  height: 24px;
width: 236px;
left: 700px;
top: 0px;
border-radius: nullpx;
font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #98A2B3;
position: relative;
}

.footer-col2 {
  height: 24px;
width: 236px;
left: 900px;
top: -20px;
border-radius: nullpx;
font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #98A2B3;
position: relative;
}

.footer-col3 {
  height: 24px;
width: 236px;
left: 1100px;
top: -40px;
border-radius: nullpx;
font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #98A2B3;
position: relative;
}

.footer-col1 a {
  text-decoration: none;
  list-style: none;
  height: 24px;
width: 77px;
left: 0px;
top: 0px;
border-radius: nullpx;
font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 54px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
}

.footer-col2 a {
  text-decoration: none;
  list-style: none;
  height: 24px;
width: 77px;
left: 0px;
top: 0px;
border-radius: nullpx;
font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 54px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
}

.footer-col3 a {
  text-decoration: none;
  list-style: none;
  height: 24px;
width: 77px;
left: 0px;
top: 0px;
border-radius: nullpx;
font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 54px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
}






.black {
  height: 120px;
width: 1440px;
left: 0px;
top: 248px;
border-radius: 0px;
padding: 48px 0px 48px 0px;
background: #101828;
position: relative;
}

.black p {
  height: 24px;
width: 1064px;
left: 200px;
top: 0px;
border-radius: nullpx;
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
justify-content: space-between;
text-align: left;
color: #98A2B3;
position: relative;
}

span i {
  color: #98A2B3;
  height: 19px;
width: 24px;
left: 1200px;
top: 0px;
border-radius: 0px;
justify-content: space-between;
  position: relative;
}

